body {
  background-color: #121212;
  color: #f5f5f5c5;
  text-align: center;
}

.pfp {
  border-radius: 50%;
  width: 225px;
  margin-top: 25px;
  filter: brightness(70%);
}

.title{
  font-size: 17px;
  font-family: arial;
}

.name {
  margin-top: 5px;
}

h1 {
  display: inline-block;
  margin-top: -15px;
  margin-bottom: -1px;
  color: #682675;
  font-size: 55px;
}
.left-star {
  rotate: -10deg;
}
.right-star {
  rotate: 10deg;
}

p {font-size: 17px; font-family: arial;}

.demos {
  display: inline-block;
  margin-inline: 1%;
  margin-top: -30px;
}

h3 {
  font-size: 30px;
}
h4 {
  margin-bottom: 10px;
}

audio {
  width: 350px;
}

.controls {
  display: flex;
  flex-direction: row;
}

.social-link {
  background: none;
  border: none;
  filter: brightness(80%);
  margin-inline: 2%;
  cursor: pointer;
  transition: transform, 0.5s;
}
.social-link:hover {transform: scale(0.95); filter: invert(18%) sepia(30%) saturate(3777%) hue-rotate(267deg) brightness(45%) contrast(93%);}
.social-img {
  width: 60px;
  filter: invert(97%) sepia(95%) saturate(6789%) hue-rotate(183deg) brightness(124%) contrast(92%);
}
.filter-add {
  width: 65px;
  margin-bottom: 2px;
  filter: invert(97%) sepia(95%) saturate(6789%) hue-rotate(183deg) brightness(124%) contrast(92%);
}

.link {
  border-radius: 45px;
  width: 700px;
  margin-top: 15px;
  background: none;
  transition: transform, 0.5s;
  border-color: #f5f5f5c5;
  color: #f5f5f5c5;
}
.link:hover {transform: scale(0.99); filter: invert(18%) sepia(30%) saturate(3777%) hue-rotate(267deg) brightness(45%) contrast(93%);}

.footer {
  margin-top: 30px;
  margin-bottom: 20px;
}